body {
  box-sizing: border-box;
  background-color: hsl(253, 70%, 91%);
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
  border: 5px solid blue;
  margin: 0;
}
.head {
  background-color: rgb(69, 54, 206);
  height: 12%;
  margin: 0%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.head ul {
  list-style: none;
  display: flex;
  justify-content: end;
  height: 100%;
  align-items: center;
}

.head ul li {
  margin: 4%;
  padding-bottom: 20px;
}

.head ul li a {
  font-weight: 700;
  text-decoration: none;
  color: wheat;
  font-size: 150%;
  transition: 0.5s;
}
.head ul li:hover a {
  color: blueviolet;
}

.head ul li.active a {
  color: blueviolet;
}

section {
  height: 100vh;
  width: 100%;
}

.home {
  display: flex;
  align-items: center;
}

.btn {
  text-decoration: none;
  color: wheat;
  background-color: blue;
  box-shadow: 1px 1px 1px 1px blueviolet;
  padding: 10px;
  border-radius: 10px;
  transition: 0.5s;
  margin-top: 0;
  animation: button-scale 2.5s ease-in-out infinite;
  position: absolute;
  top: 80%;
  right: 30%;
}

@keyframes button-scale {
  50% {
    transform: scale(120%);
  }
  100% {
    color: black;
    transform: scale(100%);
  }
}

.btn:hover {
  background-color: navy;
}

.home-info p {
  font-size: 17px;
  margin: 10px 0px 0px 10%;
  width: 70%;
}

.home-info h1 {
  margin: 0px 0px 1% 28%;
  font-size: 30px;
  color: #ded7f8;
  -webkit-text-stroke: 0.7px blue;
  animation: scale-text 4s forwards;
}

.home-info span {
  color: transparent;
  -webkit-text-stroke: 0.5px blue;
  position: relative;
  animation: display-text 8s linear infinite;
  animation-delay: calc(var(--i) * -2s);
}

.home-info span::before {
  content: attr(data-text);
  color: black;
  position: absolute;
  width: 0%;
  border-right: 2px solid black;
  white-space: nowrap;
  overflow: hidden;
  animation: fill-text 3s linear infinite;
}

@keyframes fill-text {
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

@keyframes display-text {
  25%,
  100% {
    display: none;
  }
}
@keyframes scale-text {
  100% {
    transform: scale3d(1.5, 1.5, 1);
    color: black;
    margin-top: 105px;
  }
}

.title {
  display: inline-block;
  margin: 10px 0 10px 10%;
  font-size: 25px;
  color: black;
  -webkit-text-stroke: 0.5px blue;
}

#name {
  font-size: 25px;
  font-weight: bolder;
  margin: 0 0 0 10%;
}

.img-box {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  margin-right: 3dvh;
  animation: rotate-border 3s linear infinite;
  background: conic-gradient(blue, blueviolet);
  left: -120px;
}

.img-item {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  border: 2px solid;
}

img {
  position: absolute;
  display: block;
  width: 100%;
  object-fit: cover;
}

.edge-transform {
  width: 50%;
  height: 120vh;
  position: fixed;
  bottom: -30%;
  background: blue;
  margin-left: 100%;
  animation: show-edge 1s linear forwards;
}

@keyframes show-edge {
  100% {
    transform: rotate(20deg);
  }
}

.about {
  display: flex;
  flex-direction: column;
  background-color: rgb(29, 26, 26);
  color: white;
  width: 100%;
}

.paragraphs {
  margin: 100px 10% 0px 10%;
  font-size: 20px;
}

.contact {
  display: flex;
  flex-direction: column;
  background-color: rgb(29, 26, 26);
  color: white;
  width: 85%;
  padding: 50px;
}

.contact h1 {
  margin-top: 50px;
  font-size: x-large;
}

.contact p {
  line-height: 30px;
}

.linkedin i {
  font-size: 40px;
  color: blueviolet;
  margin-top: 20px;
  animation: shake-icon 1s infinite;
}

.linkedin a {
  color: blue;
}

.phone i {
  font-size: 40px;
  color: blueviolet;
  margin-top: 20px;
  animation: shake-icon 1.2s infinite, rotate-phone 1s infinite;
}

@keyframes shake-icon {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotate-phone {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.phone a {
  color: blue;
}

.mail i {
  font-size: 40px;
  color: blueviolet;
  margin-top: 20px;
  animation: shake-icon 1.4s infinite;
}

.mail a {
  color: blue;
}


@media (max-width: 800px) {
  .img-box {
    left: -40px;
    width: 180px;
    height: 180px;
  }
}
@media (max-width: 500px) {
  .img-box {
    width: 150px;
    height: 150px;
    margin: 100px 0px -120px 0px;
  }
  .about p {
    font-size: 18px;
  }

  .home {
    display: flex;
    flex-direction: column-reverse;
  }
  .home-info h1 {
    font-size: 25px;
  }
  #name {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .title {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .home-info p {
    margin-top: 10px;
    margin-bottom: 90px;
    z-index: -1;
  }
  .btn {
    top: 90%;
  }
  .head ul li a {
    font-size: 12px;
  }
  .head ul li {
    margin: 5px;
  }
  .contact{
    width: 80%;
  }
}

@media (max-width: 300px) {
  .about p {
    font-size: 14px;
  }
  .img-box {
    position: absolute;
    left: 80px;
    width: 100px;
    height: 100px;
  }
  #name {
    font-size: 21px;
  }
}

@media (min-height: 633px) {
  section {
    width: 100%;
  }
}
